.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100svh;
    background-color: rgba(184, 184, 184, 0.4);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* body.no-scroll {
    overflow: hidden;
    min-height: 100svh;
} */

/* // ORDER CONFIRMATION STATE START // */
.order__confirmation {
    width: clamp(23.438rem, 100%, 30rem);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 2000;
}

.order__title {
    font-size: 2rem;
    padding: 0.8rem 0 0.3rem;
}

.order__text {
    color: var(--Rose-500);
}

.order__details {
    background-color: var(--Rose-50);
    border-radius: 8px;
    margin: 1.5rem 0;
}

.order__items--container {
    max-height: 16.25rem;
    overflow-y: scroll;
    padding: 0 1.3rem;
}

.order__item--img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 1rem;
}

.order__item__price--total {
    color: var(--Rose-900);
    font-weight: 600;
}

.order__items__total {
    padding: 0 1.3rem;
}
/* // ORDER CONFIRMATION STATE END // */
