.menu {
    max-width: 75rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: start;
    gap: 1.5rem;
    padding: 2rem;
    margin: 0 auto;
}

.menu__title {
    font-size: 1.75rem;
    padding: 1rem 0;
    font-weight: 700;
}

.menu__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
    column-gap: 1rem;
    row-gap: 1.5rem;
}

.menu__img--box {
    position: relative;
}

.img {
    border-radius: 8px;
    object-fit: cover;
}

.menu__btn {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    background-color: var(--Rose-50);
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 1px solid var(--Rose-300);
    outline: none;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.menu__btn:hover {
    color: var(--Red);
    border-color: var(--Red);
}

.menu__type {
    font-size: 0.75rem;
    color: var(--Rose-300);
    margin-top: 1.6rem;
}

.menu__name {
    font-size: 1rem;
    font-weight: 600;
}

.menu__price {
    color: var(--Red);
    font-weight: 600;
}

/* // MENU SELECTED STATE START // */
.menu__btn--active {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.436rem;
    width: max-content;
    font-size: 0.7rem;
    font-weight: 600;
    padding: 0.506rem 1rem;
    outline: none;
    border: 1px solid var(--Red);
    border-radius: 100px;
    color: var(--Rose-50);
    background-color: var(--Red);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
}

.increment-amount {
    padding: 0 0.2rem;
}

.menu__btn--1,
.menu__btn--2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.menu__btn--1:hover,
.menu__btn--2:hover {
    transform: scale(1.1);
}

.menu__btn--1:active,
.menu__btn--2:active {
    transform: scale(1);
}
/* // MENU SELECTED STATE END // */

/* // CART EMPTY STATE START // */
.cart {
    margin-bottom: 2rem;
}

.cart__title {
    font-size: 1rem;
    font-weight: 700;
    color: var(--Red);
}

.cart__items--box,
.order__items--container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

/* // CART EMPTY STATE END // */

/* // CART ACTIVE STATE START // */
.cart__items--container {
    /* max-height: 18.75rem; */ /* // SHOW FOUR ITEMS */
    max-height: 23.438rem; /* // SHOW FIVE ITEMS */
    overflow-y: scroll;
    padding-right: 0.5rem;
}

.cart__item--price-total {
    font-weight: 600;
    margin-left: 0.4rem;
}

.cart__item--btn {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.15rem;
    border: 1px solid var(--Rose-300);
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.cart__item--btn:hover {
    border: 1px solid var(--Rose-900);
}

.carbon__neutral--delivery {
    font-size: 0.65rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    background-color: var(--Rose-50);
    border-radius: 8px;
    padding: 0.6rem 2rem;
}

.carbon__neutral--delivery span {
    font-weight: 700;
}

.cta-btn {
    background: none;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.75rem 1rem;
    color: var(--Rose-50);
    border: 1px solid var(--Red);
    background-color: var(--Red);
    outline: none;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.cta-btn:hover {
    border: 1px solid var(--Dark-Red);
    background-color: var(--Dark-Red);
}

.cart__order--btn {
    margin-top: 1rem;
}
/* // CART ACTIVE STATE END // */

/* // ORDER COMPLETED STATE START // */
.order__success {
    width: clamp(23.438rem, 100%, 30rem);
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--Red); */
    padding: 2rem 1.5rem;
    border-radius: 12px;
    /* position: fixed; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    z-index: 999;
}

.order__title {
    font-size: 2rem;
    padding: 0.8rem 0 0.3rem;
}

.order__text {
    color: var(--Rose-500);
}

.order__details {
    background-color: var(--Rose-50);
    border-radius: 8px;
    margin: 1.5rem 0;
}

.order__items--container {
    max-height: 16.25rem;
    overflow-y: scroll;
    padding: 0 1.3rem;
}

.order__item--img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 1rem;
}

.order__item__price--total {
    color: var(--Rose-900);
    font-weight: 600;
}

.order__items__total {
    padding: 0 1.3rem;
}

/* // ORDER COMPLETED STATE END // */

/* // MODAL START // */
.modal {
    width: 100svw;
    height: 100svh;
    background-color: rgba(184, 184, 184, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}
/* // MODAL END // */

/* ///////////////////////////////////////// */
/* // HELPER START // */
.menu,
.menu__container,
.cart,
.cart__active {
    border: 1px solid red;
}

.cart,
.cart__active,
.order__success {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem 1rem;
}

.center {
    align-items: center;
    text-align: center;
}

.cart__item,
.order__item {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid var(--Rose-100);
}

.cart__item--details,
.order__item--details {
    flex: 1;
}

.item--details__box {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color: var(--Rose-500);
    padding-top: 0.4rem;
}

.item--name {
    font-weight: 600;
}

.item--quantity {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--Red);
    margin-right: 0.8rem;
}

.cart__items__total,
.order__items__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

.cart__items__total--amount,
.order__items__total--amount {
    font-size: 1.25rem;
    font-weight: 700;
}

/* ACTIVE class for menu image */
.active {
    border: 2px solid var(--Red);
}

.cart__active {
    grid-column: 2;
}

/* // HELPER END // */
